@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .padding {
   @apply px-8  sm:px-14 md:px-20 xl:px-40 2xl:px-44 py-12 sm:py-16 xl:py-20
  }
}

.clip-custom {
  mask: radial-gradient(12px at right 50%, #0000 98%, #000);
}

@media only screen and (max-width: 600px) {
  .clip_custom {
    mask: radial-gradient(6px at right 50%, #0000 98%, #000);
  }
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.slick__dots--custom {
  height: 8px;
  width: 8px;
  background-color: #fefefe;
  border-radius: 15px;
  position: relative;
}

.slick-dots {
  bottom: 10px !important;
}

.slick-dots li {
  width: 8px;
  height: 8px;
  color: blueviolet !important;
}

.slick-dots li.slick-active {
  opacity: 0.75;
  color: blue !important;
}
